.post-ur-1-3 {
    width: 50px;
    height: 50px;
    margin: 0px 0px 20px 10px;
}

.seperate_line__post_of_proposal-section {
    width: 95%;
    height: 0px;
    border: 0.5px solid #000000;
}

.proposals__ar_annoated {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 50px 50px;
}

.proposals__ar_annoated h3 {
    margin-top: 2rem;
    font-size: 24px;
    letter-spacing: 0.5px;
    color: #000000;
}

.proposal__card__information_1 {
    width: 90%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 10px;
    margin: 2rem 2rem 1rem 5rem;
    background-color: #ffd980;
    height: auto;
    margin-bottom: 50px;
    border-radius: 10% 10px 40px 40px;
}

.proposal__header_area {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.proposal__avatar_profileinfo {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 15px;
}

.proposal__profile_info {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 20px;
}

.proposal__controlled_buttons {
    display: flex;
    flex-direction: column;
}

.post__form_card_header_submit__button {
    margin-bottom: 5px;
}

.proposal__body_content {
    width: 70%;
    line-height: 1.6;
    font-size: 14.5px;
    margin: 0px 0px 30px 3rem;
}

.proposal__body_content:last-child {
    font-weight: 600;
}

.proposal__header_background_box {
    position: absolute;
    top: -20px;
    left: -17px;
    background-color: #ffd980;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    z-index: -10;
}

.proposal__card_button {
    width: 150px;
    height: 51px;
    border-radius: 25px;
    background-color: #1e2833;
    color: white;
    font-size: 13px;
    margin-bottom: 3px;
}

.proposal__card_button_active {
    width: 150px;
    height: 51px;
    border-radius: 25px;
    background-color: #ff835c;
    color: white;
    font-size: 13px;
    margin-bottom: 3px;
    border: none;
    outline: none;
}

.proposal__step_paragraph_Style {
    margin-bottom: 30px;
}