.browse-area__tab-container {
    font-size: 1.8rem;
    margin: 0 2rem;
    position: relative;

    &::first-letter {
        text-transform: uppercase;
    }






    &__content {

        &__active {

            &::after {
                width: 120%;
                height: .5rem;
                content: "";
                position: absolute;
                bottom: -1rem;
                left: -.5rem;
                background-color: #ff835c;
            }
        }

        @media (max-width: 750px) {
            width: 100%;
        }
    }
}