.profile_card {
    background-color: rgb(255, 217, 128);
    position: relative;
    border-radius: 2.5rem;
    padding: 1rem;
    margin: 2rem;
    width: 25rem;
}

.card_body {
    position: relative;
    width: 100%;
    text-overflow: ellipsis;
    white-space: wrap;
}

.image_block {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -1.5rem;
    top: -1.5rem;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    background-color: inherit;
    z-index: 1;
}

.image_block img {
    width: 5rem;
    height: 5rem;
}

.card_title {
    position: relative;
    z-index: 10;
}

.header {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    position: relative;
    z-index: 10;
    justify-content: center;
}