.profile_card {
    background-color: #ffd980;
    position: relative;
    border-radius: 2.5rem;
    padding: 1rem 1.5rem;
    margin: 2rem;
    width: 27rem;
    color: black;
    cursor: pointer;

    &__image {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: -2rem;
        top: -2rem;
        width: 10rem;
        height: 10rem;
        border-radius: 100%;
        background-color: inherit;

        &img {
            margin-top: -1rem;
            width: 6rem;
            height: 6rem;
        }

    }
}