.search-section {
  padding: 1.6rem;
  margin-left: 4rem;
}

.filter-section {
  background-color: #f2f6f9;
  padding: 10px 0px 0px 5px;
  height: 300px;
  border-radius: 10px;
  margin-left: 4rem;
}

.filter {
  font-size: 14px;
  margin: 7px 0px 14px 16px;
  font-weight: 800;
}

.arranged-forms {
  display: grid;
  grid-template-columns: 70px 30px 70px;
  column-gap: 0.2rem;
  align-items: center;
  margin: 0px 0px 10px 16px;
}

.number-input {
  border: none;
  border-radius: 8px;
  width: 50px;
  height: 25px;
}

.category-list {
  margin-top: 20px;
  list-style: none;
}

.categoryname {
  margin-left: 7px;
}

.result-section {
  width: 300px;
  margin-left: 1rem;
  background-color: #f2f6f9;
}

.search-result-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 8px 9px 0px 10px;
}

.result-title {
  font-weight: 800;
  font-size: 1.7rem;
}
.page-number {
  font-size: 14px;
}

.service-provider-card {
  margin: 5px 5px 2px 13px;
  display: grid;
  grid-template-columns: 70px 170px 490px 80px;
  font-size: 14px;
}

.listed-fee {
  color: red;
}

.city-location {
  margin-left: 2px;
}

.btncategorydisplayed {
  font-size: 14px;
  border-radius: 20px;
  height: 39px;
  width: 126px;
  background-color: #ff9e00;
  border: none;
}

.categories-displayed {
  margin: 0px 0px 20px 15px;
}
