.search__result_container_a {
  display: grid;
  grid-template-columns: 30% 69%;
  margin: 2rem 1rem 6rem 3rem;
  column-gap: 2rem;
}

.search__result_filter-section {
  background-color: #f2f6f9;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 4px;
}

.search__result_results-section {
  background-color: #f2f6f9;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 4px;
  height: 1000px;
  overflow: scroll;
}

.filter-section_title {
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid darkgrey;
}

.filter-section_content-2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.filter-section_content-1 {
  margin: 4rem 0rem 1rem 0rem;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.filter-section_content-2__input {
  border: none;
  border-radius: 5px;
  height: 53px;
  width: 20%;
  margin-right: 2rem;
}

#checkbox_filter-section {
  width: 30px;
  height: 30px;
  border: none;
  background-color: darkgrey;
  outline: none;
  mix-blend-mode: darken;
}
.skill_box-filter {
  display: flex;
  flex-direction: row;
  margin: 1rem 0rem 1rem 0rem;
}

.skill_name {
  font-weight: 600;
  margin: 0.42rem 0rem 0rem 1rem;
  font-size: 16px;
  line-height: 18px;
}

.filter-section_content-3_skills {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 2rem;
}

.search__result_results-section-title {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  margin: 0rem 0rem 2rem 0rem;
  border-bottom: 1px solid darkgrey;
}

.search__result_card_container {
  width: 99%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.search__result_card_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.search__result_card_header-left-section {
  display: flex;
  flex-direction: row;
}

.search__result_card_header-sub-section {
  display: flex;
  flex-direction: column;
  margin: 1.3rem 0rem 0rem 2rem;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.search__result_card_header-sub-section-stars {
  margin-left: -4px;
}

.search__result_card_header-right-section {
  font-size: 16px;
  font-weight: 600;
  margin: 2rem 0.2rem 0rem 0rem;
}

.search__result_card_content {
  font-size: 16px;
  line-break: normal;
  width: 80%;
  margin-bottom: 1rem;
}
