.search-section {
  padding: 20px;
  margin-left: 4rem;
}

.filter-section {
  background-color: #f2f6f9;
  padding: 2rem;
  height: 300px;
  border-radius: 10px;
  margin-left: 80px;
}

.divided-section {
  display: grid;
  grid-template-columns: 100px 50px;
  align-items: center;
  column-gap: 0.2rem;
  margin-left: 18px;
}

.number-input {
  border: none;
  border-radius: 8px;
  width: 50px;
  height: 25px;
}

.category-list {
  margin-top: 20px;
  list-style: none;
}

.categoryname {
  margin-left: 7px;
}

.result-section {
  margin-left: 1.3rem;
  background-color: #f2f6f9;
}

.search-result-top {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 720px 100px;
  align-items: center;
  border-bottom: 1px solid #000000;
  margin-bottom: 0.5rem;
}

.result-title {
  font-size: 16px;
}
.page-number {
  text-align: center;
  font-size: 14px;
}

.service-provider-card {
  padding: 5px;
  display: grid;
  grid-template-columns: 70px 170px 500px 80px;
  margin-top: 2rem;
  font-size: 14px;
}

.listed-fee {
  color: red;
}

.profile-content {
  font-size: 14px;
  padding: 16px;
}

.btncategorydisplayed {
  font-size: 14px;
  border-radius: 20px;
  height: 39px;
  width: 126px;
  background-color: #ff9e00;
  border: none;
  margin-right: 5px;
}
