.tabs {
    width: 80%;
    height: 5rem;
    border-radius: 2rem;
    background-color: #57c4e5;
    display: flex;
    flex-direction: row;
    margin: 5rem;
    color: white;

    &__normal {
        width: 50%;
        border-radius: 2rem;
        background-color: #57c4e5;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &__active {
        background-color: #212738;
    }
}