.review_rate_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
}

.rate_ratio {
    display: inline-flex;
    width: 80%;
}
