.list_of_cards {
  width: 100%;
  height: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.order_header_card {
  justify-self: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  padding: 2rem 3rem 2rem 5rem;
  z-index: 1;
  margin-left: 10rem;
}

.order_header_card_left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.rate_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5rem;
}

.part_one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.toggle_card {
  display: none;
  z-index: 1;
}

.show_card {
  align-self: flex-end;
  display: flex;
  padding: 2rem 3rem 2rem 5rem;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}

.show_card h3 {
  margin-bottom: 2rem;
}

.loading-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.loader {
  color: #fafafa;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: absolute;
  top: 35%;
  left: 47.5%;
  transform: translate(-50%, -50%);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

/* Handle on hover */

.right_float_button {
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 9rem;
  justify-content: space-between;
}

.proposal_status {
  position: absolute;
  bottom: 0;
  right: 0;
  width: "15rem";
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  padding: 0.5rem 4rem;
  background-image: radial-gradient(circle 939px at 94.7% 50%,
      rgba(0, 178, 169, 1) 0%,
      rgba(0, 106, 101, 1) 76.9%);
  border-radius: 20px;
}

.proposal_status h4 {
  text-decoration: none;
  color: white;
  text-align: center;
  width: 100%;
}

@media (max-width: 750px) {
  .order_header_card {
    padding-left: 7rem;
    padding-right: 0;
    align-content: start;
  }

  .part_one {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .rate_div {
    margin: 0;
  }

  .order_header_card_left {
    align-content: flex-end;
    justify-content: flex-end;
  }

  .right_float_button {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
  }
}