.posts-wrappper-background {
  padding: 20px 0px 0px 0px;
  background-color: #f2f6f9;
  margin: 5rem 7rem 0rem 7rem;
}
.post__form_card___wrapper {
  width: 92%;
  height: 50rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 2rem 2rem 1rem 5rem;
  background-color: white;
  padding: 20px;
}

.post__form_card___header-section {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 0px 5px;
  padding: 10px;
}

.post_form_card__header__avatar_styles {
  display: flex;
  flex-direction: row;
}

.post__form_card_header_dropdowns-section {
  margin: 20px 0px 20px 27px;
}

.post__form_card_header_location-dropdown {
  font-weight: 600;
  text-align: center;
  font-size: 15px;
  width: 161px;
  height: 45px;
  background: rgba(196, 196, 196, 0.38);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0px 3px 0px 7px;
  border: 0;
  outline: none;
}

.post__form_card_header_payment-dropdown {
  font-weight: 600;
  text-align: center;
  font-size: 15px;
  width: 171px;
  height: 45px;
  background: rgba(196, 196, 196, 0.38);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0px 10px 0px 12px;
  border: 0;
  outline: none;
}

.post__form_card_header_submit__button {
  width: 161px;
  height: 49px;
  background: #1e2833;
  border-radius: 95px;
  color: white;
  letter-spacing: 0.3px;
  font-size: 16px;
  margin-left: 8px;
}

.post__form_card_header_text-section {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 150px;
  overflow: hidden;
}

.post__form_card_header_description_field {
  width: 70%;
  height: 160px;
  background: rgba(196, 196, 196, 0.38);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  font-size: 13px;
  color: black;
  padding: 12px 10px;
  box-sizing: border-box;
  margin-bottom: 5px;
}
.post__form_card_header_description_field:focus {
  outline: 0;
}

.post__form_card_header_postTags_field {
  width: 140px;
  height: 40px;
  border: none;
  background: rgba(196, 196, 196, 0.38);
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 13px;
  padding: 6px;
}

.tags__post_form {
  margin-top: 5px;
}

.submit__form_button__postForm {
  height: 40px;
  margin: 20px 0px 5px 0px;
  border-radius: 5px;
  border: none;
  background-color: #1e2833;
  color: white;
  font-size: 14px;
}
