.Overview__section_container_card {
  margin: 2rem;
  width: 98%;
  height: 400px;
  background: #f2f6f9;
  border-radius: 12px;
}

.Overview__section_header-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Overview__section_header-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.3px;
  margin: 5rem 0rem 5rem 0rem;
}

.Overview__section_cards_information_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 0rem 6rem 0rem 6rem;
}

.Overview__section_card_information {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 2rem 0rem 1rem;
}
.Overview__section_card_icon-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.Overview__section_card_desc-section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 25px;
  padding: 1rem;
}

.Overview__section_card_desc-section_box {
  width: 300px;
  word-wrap: break-word;
  font-weight: 400;
}
