.footer {
    background-color: rgb(30, 40, 51);
    height: 35rem;
    width: 100%;
    padding: 2rem;
    align-items: center;
    justify-content: space-around;
    display: flex;
    font-size: 2rem;
    flex-direction: column;
}

.paragraph {
    width: 25rem;
    text-align: center;
    color: white;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.bottom_navigation {
    display: flex;
    width: 50%;
    justify-content: space-between;
    text-align: center;
    color: white;
    font-size: 2rem;
}

.bottom_navigation>* {
    cursor: pointer;
}

.socialmedia {
    display: flex;
    width: 20%;
    margin-top: 2rem;
    justify-content: space-between;
    text-align: center;
    color: white;
}

.socialmedia>* {
    cursor: pointer;
}