.orders_m_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs_m {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
}

@media (max-width: 750px) {
    .tabs_m {
        margin: 0 auto;
        width: 90%;
        display: flex;
        justify-content: center;
    }
}
.loading-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.loader {
    color: #fafafa;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: absolute;
    top: 35%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
