.template {
    width: 100%;
    font-family: "Mulish"
}

.spec_div {
    width: 100%;
    padding: 0 10%;
    background-color: #f2f6f9;
}

@media (max-width: 1650px) {
    .spec_div {
        width: 100%;
        padding: 0;
    }
}