.request_content {
    width: 100%;
    background-color: #f2f6f9;
}

.request_header {
    height: 20rem;
    width: 100%;
    background-color: rgb(255, 217, 128);
}

.request_body {
    width: 100%;
    padding: 10rem;
    display: flex;
    flex-direction: column;
}

.flex_input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input_fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input {
    background-color: #c4c4c493;
    border: none;
    margin: 2rem 2rem 2rem 0;
    height: 4rem;
    border-radius: 1rem;
    padding: 0.5rem;
    box-shadow: inset 0 0.75rem 5px rgba(0, 0, 0, 0.2);
    font-size: 1.4rem;
    color: #000;
}
.flex-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
input:focus {
    outline: none;
}

.description_input {
    width: 90%;
    height: 20rem;
    padding: 1rem;
}
.description_input:focus {
    outline: none;
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000;
}
.loading-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.loader {
    color: #fafafa;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: absolute;
    top: 35%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
