.dashboard_body {
    width: 100%;
}

.dashboard_overview_cards_container {
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: white;
}

.dashboard_overview_cards_container h4 {
    color: white;
}

.overview_flex_card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}